In [1]:
a =7 #declaring int & storing in a variable

print(id(a))
print(type(a))

140709805500400
<class 'int'>

In [2]:
a=7
b=7
print(id(a)) #object space already stored in python, so,ans is same
print(id(b))

140709805500400
140709805500400

In [3]:
c=300
d=300
print(id(c)) # more than 256, so, different 

print(id(d))

1447804251760
1447804251408

In [6]:
#arithmetic op

In [20]:
a=7
b=3
print(a+b) #sum
print(a-b) #difference
print(a*b) #product
print(a//b) #value
print(a%b) #remainder
print(a/b) #quotient
print(b**a) #1st num to the power of 2nd num

10
4
21
2
1
2.3333333333333335
2187

In [5]:
#comparison op

In [21]:
a=7
b=6
print((a>b)) #greater than
print((a<b)) #less than
print((a>=b)) #greater than equal to
print((a<=b)) #less than equal to

True
False
True
False

In [7]:
#equality operator

In [8]:
a=2
b=3
print((a==b)) # print true if equal else false
print((a!=b)) #print true if not equal else false

False
True

In [9]:
#logical operator

In [10]:
print(10 and 20)  #both are true,so second value taken 
print(0 and 20)   #First is false so first value taken
print(20 and 0)   #Goes till second and second value is false so second is taken
print(0 and 0)  #First is false so,it is taken



print(10 or 20)  #First is True so it is taken
print(0 or 20)   #Goes to till second and second is true,so it is taken
print(20 or 0) #First is True so it is taken
print(0 or 0)  #Goes till second value,which is false,so it is taken




print(not(10)) #Not of true is false
print(not(0))  #Not of false is True

20
0
0
0
10
20
20
0
False
True

In [11]:
# bitwise operator

In [12]:
print(10 & 20)
print(10|20)
print(10^20)
print(~10)
print(10<<2) #leftshift
print(10>>2) #rightshift

0
30
30
-11
40
2

In [13]:
a = 10
b = 10
print(a is b)          #True 
print(a is not b)      #False

a = 1000
b = 1000
print(a is b)          #gives False
print(a is not b)      #gives True

True
False
False
True

In [14]:
print(10+(10*32)//2**5&20+(~(-10))<<2)

20

In [15]:
#membership operation

In [16]:
print('2' in 'Python2.7.8')
print(10 in [10,10.20,10+20j,'Python'])
print(10 in (10,10.20,10+20j,'Python'))
print(2 in {1,2,3})
print(3 in {1:100, 2:200, 3:300})
print(10 in range(20))

True
True
True
True
True
True

In [18]:
b =0b1 #binary 
oc =0o234 #octal
h =0x11e #hexadecimal



print(bin(9876))  #conversion to binary
print(oct(9876))  #conversion to octal
print(hex(9876))  #conversion to hexadecimal

0b10011010010100
0o23224
0x2694

In [19]:
a = 0b1010000
print(a)  #print decimal value printed of binary input

b = 0o7436
print(b)  #print decimal value printed of octal input

c = 0xfade
print(c)   #decimal value printed of hexadecimal input

print(bin(80))  #convert to binary(from decimal) & print

print(oct(3870))  #convert to octal & print

print(hex(64222))   #convert to hexadecimal & print

print(bin(0b1010000)) #binary converted to binary & is printed as it is

print(bin(0xfade))  #convert to binary (from hexadecimal) & print

print(oct(0xfade))   #convert to octal & print

print(oct(0o7436))   #convert to octal & print

print(hex(0b1010000)) #convert to hexadecimal & print

print(hex(0xfade)) #convert to hexadecimal & print

80
3870
64222
0b1010000
0o7436
0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade